@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 18, 17, 16;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('/fonts/GT-Walsheim-Condensed-Medium.ttf') format('truetype');
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 18, 17, 16; /* RGB equivalent of #121110 */
  /* } */

body {
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-gradient-radial {
    background: radial-gradient(circle at 75% 50%, rgba(145, 170, 95, 0.379) 37.54%, rgba(18, 17, 16, 0.3) 95.67%);
  }
}

.custom-top {
  top: calc(50% - 60px);
}



